<header id="top">
  <div class="header-b">
    <div class="mobile-menu">
      <nav>
        <ul>
          <li>
            <a routerLink="/Inicio" routerLinkActive="active">Inicio</a>
          </li>
          <li>
            <a class="has-child" routerLink="/Plans" routerLinkActive="active">Planes</a>
            <ul>
              <li>
                <a routerLink="/Plans/1" routerLinkActive="active">Circuitos</a>
              </li>
              <li>
                <a routerLink="/Plans/1" routerLinkActive="active">Cerrados</a>
              </li>
              <li>
                <a routerLink="/Plans/1" routerLinkActive="active">Abiertos</a>
              </li>
              <li>
                <a routerLink="/Plans/1" routerLinkActive="active">Todo Incluido</a>
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="/About" routerLinkActive="active">Nosotros</a>
          </li>
          <li>
            <a routerLink="/Work" routerLinkActive="active">Trabaje con Nosotros</a>
          </li>
          <li>
            <a routerLink="/Contact" routerLinkActive="active">Contáctenos</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="wrapper-padding">
      <div class="header-logo">
        <a routerLink="/Inicio" routerLinkActive="active">
          <img alt="Logo" src="./assets/img/logo.png" />
        </a>
      </div>
      <div class="header-right">
        <div class="hdr-srch">
          <a href="#" class="hdr-srch-btn"></a>
        </div>
        <div class="hdr-srch-overlay">
          <div class="hdr-srch-overlay-a">
            <input type="text" value="" placeholder="Start typing...">
            <a href="#" class="srch-close"></a>
            <div class="clear"></div>
          </div>
        </div>
        <div class="hdr-srch-devider"></div>
        <a href="#" class="menu-btn"></a>
        <nav class="header-nav">
          <ul>
            <li>
              <a routerLink="/Inicio" routerLinkActive="active">Inicio</a>
            </li>
            <li>
              <a class="has-child" routerLink="/Plans" routerLinkActive="active">Planes</a>
              <ul>
                <li>
                  <a routerLink="/Plans/1" routerLinkActive="active">Circuitos</a>
                </li>
                <li>
                  <a routerLink="/Plans/1" routerLinkActive="active">Cerrados</a>
                </li>
                <li>
                  <a routerLink="/Plans/1" routerLinkActive="active">Abiertos</a>
                </li>
                <li>
                  <a routerLink="/Plans/1" routerLinkActive="active">Todo Incluido</a>
                </li>
              </ul>
            </li>
            <li>
              <a routerLink="/About" routerLinkActive="active">Nosotros</a>
            </li>
            <li>
              <a routerLink="/Work" routerLinkActive="active">Trabaje con Nosotros</a>
            </li>
            <li>
              <a routerLink="/Contact" routerLinkActive="active">Contáctenos</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</header>