<footer class="footer-a">
	<div class="wrapper-padding">
		<div class="section">
			<div class="footer-lbl">Ubícanos</div>
			<div class="footer-adress">Dirección: Calle 65 No 10 - 27,<br />Bogotá D.C, Colombia</div>
			<div class="footer-phones">Teléfono: (1) 606 2727</div>
			<div class="footer-email">E-mail: multidestinos_express@yahoo.com</div>
			<!--<div class="footer-skype">Skype: angelotours</div>-->
		</div>		
		<div class="section">
			<div class="footer-lbl">Boletín Informativo</div>
			<div class="footer-subscribe">
				<div class="footer-subscribe-a">
					<input type="text" placeholder="Tú Email" value="" />
				</div>
			</div>
			<button class="footer-subscribe-btn">Subscribirse</button>
		</div>
	</div>
	<div class="clear"></div>
</footer>
    
<footer class="footer-b">
	<div class="wrapper-padding">
		<div class="footer-left">© Copyright {{year}} TecnoSoftIt. Todos los derechos reservados.</div>
		<div class="footer-social">
			<a href="https://www.facebook.com/MultidestinosExpress/" target="_blank" class="footer-twitter"></a>
			<a href="https://www.facebook.com/MultidestinosExpress/" target="_blank" class="footer-facebook"></a>
			<!--<a href="#" class="footer-vimeo"></a>
			<a href="#" class="footer-pinterest"></a>
			<a href="#" class="footer-instagram"></a>-->
		</div>
		<div class="clear"></div>
	</div>
</footer>