<div class="main-cont">
    <div class="body-wrapper">
        <div class="wrapper-padding">
            <div class="page-head">
                <div class="page-title">Flight - <span>Detailed</span></div>
                <div class="breadcrumbs">
                    <a href="#">Home</a> / <a href="#">Hotel</a> / <span>List style one</span>
                </div>
                <div class="clear"></div>
            </div>

            <div class="sp-page">

                <div class="sp-page-a">
                    <div class="sp-page-l">
                        <div class="sp-page-lb">
                            <div class="sp-page-p">
                                <div class="h-tabs">
                                    <div class="h-tabs-left">
                                        <div class="h-tab-i active">
                                            <a href="#" class="h-tab-item-01">
                                                <i></i>
                                                <span>photo</span>
                                                <span class="clear"></span>
                                            </a>
                                        </div>
                                        <div class="h-tab-i">
                                            <a href="#" class="h-tab-item-03">
                                                <i></i>
                                                <span>calendar</span>
                                                <span class="clear"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="h-tabs-right">
                                        <a href="#">
                                            <i></i>
                                            <span>more flights</span>
                                            <div class="clear"></div>
                                        </a>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <div class="mm-tabs-wrapper">
                                    <!-- // tab item // -->
                                    <div class="tab-item">
                                        <div class="flight-image">
                                            <span>Lufthansa passengers quickly, ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab.</span>
                                            <img alt="" src="img/flight-image.jpg">
                                        </div>
                                    </div>
                                    <!-- \\ tab item \\ -->
                                    <!-- // tab item // -->
                                    <div class="tab-item">
                                        <div class="calendar-tab">
                                            <div class="calendar-tab-select">
                                                <label>Select month</label>
                                                <select class="custom-select">
            <option>january 2015</option>
            <option>january 2015</option>
            <option>january 2015</option>
          </select>
                                            </div>
                                            <div class="tab-calendar-colls">
                                                <div class="tab-calendar-collsl">
                                                    <div class="tab-calendar-collslb">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <td>sun</td>
                                                                    <td>mon</td>
                                                                    <td>tue</td>
                                                                    <td>wed</td>
                                                                    <td>thu</td>
                                                                    <td>fri</td>
                                                                    <td>sat</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="date-passed"><span><label></label></span></td>
                                                                    <td class="date-passed"><span><label></label></span></td>
                                                                    <td class="date-passed"><span><label></label></span></td>
                                                                    <td><span><label>1</label></span></td>
                                                                    <td><span><label>2</label></span></td>
                                                                    <td><span><label>3</label></span></td>
                                                                    <td><span><label>4</label></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><label>5</label></span></td>
                                                                    <td><span><label>6</label></span></td>
                                                                    <td><span><label>7</label></span></td>
                                                                    <td><span><label>8</label></span></td>
                                                                    <td><span><label>9</label></span></td>
                                                                    <td><span><label>10</label></span></td>
                                                                    <td><span><label>11</label></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><label>12</label></span></td>
                                                                    <td><span><label>13</label></span></td>
                                                                    <td><span><label>14</label></span></td>
                                                                    <td><span><label>15</label></span></td>
                                                                    <td><span><label>16</label></span></td>
                                                                    <td><span><label>17</label></span></td>
                                                                    <td><span><label>18</label></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><label>19</label></span></td>
                                                                    <td><span><label>20</label></span></td>
                                                                    <td><span><label>21</label></span></td>
                                                                    <td><span><label>22</label></span></td>
                                                                    <td><span><label>23</label></span></td>
                                                                    <td><span><label>24</label></span></td>
                                                                    <td><span><label>25</label></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span><label>26</label></span></td>
                                                                    <td class="date-available"><span><label>27</label></span></td>
                                                                    <td class="date-available"><span><label>28</label></span></td>
                                                                    <td class="date-available"><span><label>29</label></span></td>
                                                                    <td class="date-unavailable"><span><label>30</label></span></td>
                                                                    <td class="date-unavailable"><span><label>31</label></span></td>
                                                                    <td class="date-passed"><span><label></label></span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="tab-calendar-collsr">
                                                <div class="tab-calendar-s">

                                                    <div class="map-symbol passed">
                                                        <div class="map-symbol-l"></div>
                                                        <div class="map-symbol-r">Date past</div>
                                                        <div class="clear"></div>
                                                    </div>
                                                    <div class="map-symbol available">
                                                        <div class="map-symbol-l"></div>
                                                        <div class="map-symbol-r">available</div>
                                                        <div class="clear"></div>
                                                    </div>
                                                    <div class="map-symbol unavailable">
                                                        <div class="map-symbol-l"></div>
                                                        <div class="map-symbol-r">unavailable</div>
                                                        <div class="clear"></div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="clear"></div>

                                        </div>
                                    </div>
                                    <!-- \\ tab item \\ -->

                                </div>

                                <div class="content-tabs">
                                    <div class="content-tabs-head">
                                        <nav>
                                            <ul>
                                                <li><a class="active" href="#">DESCRIPTION</a></li>
                                                <li><a href="#">features</a></li>
                                                <li><a href="#">Company Rules</a></li>
                                            </ul>
                                        </nav>

                                        <div class="clear"></div>
                                    </div>
                                    <div class="content-tabs-body">
                                        <!-- // content-tabs-i // -->
                                        <div class="content-tabs-i">
                                            <h2>Vienna to New York</h2>
                                            <div class="flight-d-logo"><img alt="" src="img/flight-d-logo.png"></div>
                                            <div class="flight-d-i">
                                                <div class="flight-d-left">
                                                    <div class="flight-da">Flight <b>KLJ-25</b></div>
                                                    <div class="flight-da">Air Company <b>Lufthansa</b></div>
                                                    <div class="flight-da">Airbus A330</div>
                                                    <div class="flight-da">Business Class</div>
                                                </div>
                                                <div class="flight-d-right">
                                                    <div class="flight-d-rightb">
                                                        <div class="flight-d-rightp">
                                                            <div class="flight-d-depart">
                                                                <span>Departure</span> 07:25<br> Vienna
                                                                <br> International Airport
                                                            </div>
                                                            <div class="flight-d-time">
                                                                <span>In Time</span> 11 h 20 min
                                                                <div class="flight-d-time-icon"><img alt="" src="img/flight-d-time.png"></div>
                                                            </div>
                                                            <div class="flight-d-arrival">
                                                                <span>Arrival</span> 11:45<br> 24 February<br> New York<br> JFK International Airport
                                                            </div>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>

                                            </div>
                                            <div class="clear"></div>

                                            <div class="flight-d-devider"></div>

                                            <div class="flight-d-text">
                                                <h2>About Lufthansa</h2>
                                                <p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui. voluptatem sequi nesciunt. Neque porro quisqua. Sed ut perspiciatis unde omnis iste natus error sit
                                                    voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
                                                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                                            </div>

                                        </div>
                                        <!-- \\ content-tabs-i \\ -->
                                        <!-- // content-tabs-i // -->
                                        <div class="content-tabs-i">
                                            <h2>Flights Facilities</h2>
                                            <p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui voluptatem sequi nesciunt. </p>
                                            <ul class="preferences-list">
                                                <li class="internet">High-speed Internet</li>
                                                <li class="conf-room">Conference room</li>
                                                <li class="play-place">Play Place</li>
                                                <li class="restourant">Restourant</li>
                                                <li class="bar">Bar</li>
                                                <li class="doorman">Doorman</li>
                                                <li class="kitchen">Kitchen</li>
                                                <li class="spa">Spa services</li>
                                                <li class="bike">Bike Rental</li>
                                                <li class="entertaiment">Entertaiment</li>
                                                <li class="hot-tub">Hot Tub</li>
                                                <li class="pool">Swimming Pool</li>
                                                <li class="parking">Free parking</li>
                                                <li class="gym">Gym</li>
                                                <li class="tv">TV</li>
                                                <li class="pets">Pets allowed</li>
                                                <li class="handicap">Handicap</li>
                                                <li class="secure">Secure </li>
                                            </ul>
                                            <div class="clear"></div>
                                            <div class="preferences-devider"></div>
                                            <h2>Alternative Style</h2>
                                            <p>Quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui voluptatem sequi nesciunt eque porro quisqua.</p>
                                            <ul class="preferences-list-alt">
                                                <li class="internet">High-speed Internet</li>
                                                <li class="parking">Free parking</li>
                                                <li class="gym">Gym</li>
                                                <li class="restourant">Restourant</li>
                                                <li class="pets">Pets allowed</li>
                                                <li class="pool">Swimming Pool</li>
                                                <li class="kitchen">Kitchen</li>
                                                <li class="conf-room">Conference room</li>
                                                <li class="bike">Bike Rental</li>
                                                <li class="entertaiment">Entertaiment</li>
                                                <li class="bar">Bar</li>
                                                <li class="secure">Secure</li>
                                            </ul>
                                            <div class="clear"></div>
                                        </div>
                                        <!-- \\ content-tabs-i \\ -->

                                        <!-- // content-tabs-i // -->
                                        <div class="content-tabs-i">
                                            <h2>FAQ</h2>
                                            <p class="small">Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui voluptatem sequi nesciunt. </p>
                                            <div class="todo-devider"></div>
                                            <div class="faq-row">
                                                <!-- // -->
                                                <div class="faq-item">
                                                    <div class="faq-item-a">
                                                        <span class="faq-item-left">Totam rem aperiam, eaquie ipsa quae?</span>
                                                        <span class="faq-item-i"></span>
                                                        <div class="clear"></div>
                                                    </div>
                                                    <div class="faq-item-b">
                                                        <div class="faq-item-p">
                                                            Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia aspernatur aut odit aut fugit consequuntur magni dolores eos qui voluptatem sequi nesciunt. aspernatur aut odit aut fugit
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- \\ -->
                                                <!-- // -->
                                                <div class="faq-item">
                                                    <div class="faq-item-a">
                                                        <span class="faq-item-left">Dolores eos qui ratione voluptatem sequi nescuin?</span>
                                                        <span class="faq-item-i"></span>
                                                        <div class="clear"></div>
                                                    </div>
                                                    <div class="faq-item-b">
                                                        <div class="faq-item-p">
                                                            Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia aspernatur aut odit aut fugit consequuntur magni dolores eos qui voluptatem sequi nesciunt. aspernatur aut odit aut fugit
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- \\ -->
                                                <!-- // -->
                                                <div class="faq-item">
                                                    <div class="faq-item-a">
                                                        <span class="faq-item-left">Neque porro quisquam est, qui dolorem ipsum?</span>
                                                        <span class="faq-item-i"></span>
                                                        <div class="clear"></div>
                                                    </div>
                                                    <div class="faq-item-b">
                                                        <div class="faq-item-p">
                                                            Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia aspernatur aut odit aut fugit consequuntur magni dolores eos qui voluptatem sequi nesciunt. aspernatur aut odit aut fugit
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- \\ -->
                                                <!-- // -->
                                                <div class="faq-item">
                                                    <div class="faq-item-a">
                                                        <span class="faq-item-left">Dolor sit amet consectutur adipisci velit, sed?</span>
                                                        <span class="faq-item-i"></span>
                                                        <div class="clear"></div>
                                                    </div>
                                                    <div class="faq-item-b">
                                                        <div class="faq-item-p">
                                                            Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia aspernatur aut odit aut fugit consequuntur magni dolores eos qui voluptatem sequi nesciunt. aspernatur aut odit aut fugit
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- \\ -->
                                                <!-- // -->
                                                <div class="faq-item">
                                                    <div class="faq-item-a">
                                                        <span class="faq-item-left">Consectetur, adipisci velit, sed quia non numquam?</span>
                                                        <span class="faq-item-i"></span>
                                                        <div class="clear"></div>
                                                    </div>
                                                    <div class="faq-item-b">
                                                        <div class="faq-item-p">
                                                            Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia aspernatur aut odit aut fugit consequuntur magni dolores eos qui voluptatem sequi nesciunt. aspernatur aut odit aut fugit
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- \\ -->
                                            </div>
                                        </div>
                                        <!-- \\ content-tabs-i \\ -->

                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="sp-page-r">
                    <div class="h-detail-r">
                        <div class="h-detail-lbl">
                            <div class="h-detail-lbl-a">Vienna to New York</div>
                            <div class="h-detail-lbl-b">ONEWAY FLIGHT</div>
                        </div>
                        <div class="h-detail-stars fligts-s">
                            <div class="flight-line-a">
                                <b>departure</b>
                                <span>14:12</span>
                            </div>
                            <div class="flight-line-d"></div>
                            <div class="flight-line-a">
                                <b>departure</b>
                                <span>14:12</span>
                            </div>
                            <div class="flight-line-d"></div>
                            <div class="flight-line-a">
                                <b>departure</b>
                                <span>14:12</span>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="h-details-logo"><img alt="" src="img/h-logo.png"></div>
                        <div class="h-details-text">
                            <p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui voluptatem sequi nesciunt. </p>
                        </div>
                        <a href="#" class="book-btn">
                            <span class="book-btn-l"><i></i></span>
                            <span class="book-btn-r">BOOK FLIGHT NOW</span>
                            <div class="clear"></div>
                        </a>
                    </div>

                    <div class="h-help">
                        <div class="h-help-lbl">Need Sparrow Help?</div>
                        <div class="h-help-lbl-a">We would be happy to help you!</div>
                        <div class="h-help-phone">2-800-256-124 23</div>
                        <div class="h-help-email">sparrow@mail.com</div>
                    </div>

                    <div class="reasons-rating">
                        <div id="reasons-slider">
                            <!-- // -->
                            <div class="reasons-rating-i">
                                <div class="reasons-rating-txt">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam.</div>
                                <div class="reasons-rating-user">
                                    <div class="reasons-rating-user-l">
                                        <img alt="" src="img/r-user.png">
                                        <span>5.0</span>
                                    </div>
                                    <div class="reasons-rating-user-r">
                                        <b>Gabriela King</b>
                                        <span>from United Kingdom</span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <!-- \\ -->
                            <!-- // -->
                            <div class="reasons-rating-i">
                                <div class="reasons-rating-txt">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam.</div>
                                <div class="reasons-rating-user">
                                    <div class="reasons-rating-user-l">
                                        <img alt="" src="img/r-user.png">
                                        <span>5.0</span>
                                    </div>
                                    <div class="reasons-rating-user-r">
                                        <b>Robert Dowson</b>
                                        <span>from Austria</span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <!-- \\ -->
                            <!-- // -->
                            <div class="reasons-rating-i">
                                <div class="reasons-rating-txt">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam.</div>
                                <div class="reasons-rating-user">
                                    <div class="reasons-rating-user-l">
                                        <img alt="" src="img/r-user.png">
                                        <span>5.0</span>
                                    </div>
                                    <div class="reasons-rating-user-r">
                                        <b>Mike Tyson</b>
                                        <span>from France</span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <!-- \\ -->
                        </div>
                    </div>

                    <div class="h-liked">
                        <div class="h-liked-lbl">You May Also Like</div>
                        <div class="h-liked-row">
                            <!-- // -->
                            <div class="h-liked-item">
                                <div class="h-liked-item-i">
                                    <div class="h-liked-item-l">
                                        <a href="#"><img alt="" src="img/like-01.jpg"></a>
                                    </div>
                                    <div class="h-liked-item-c">
                                        <div class="h-liked-item-cb">
                                            <div class="h-liked-item-p">
                                                <div class="h-liked-title"><a href="#">Andrassy Thai Hotel</a></div>
                                                <div class="h-liked-rating">
                                                    <nav class="stars">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><img alt="" src="img/star-b.png" /></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><img alt="" src="img/star-b.png" /></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><img alt="" src="img/star-b.png" /></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><img alt="" src="img/star-b.png" /></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><img alt="" src="img/star-a.png" /></a>
                                                            </li>
                                                        </ul>
                                                        <div class="clear"></div>
                                                    </nav>
                                                </div>
                                                <div class="h-liked-foot">
                                                    <span class="h-liked-price">850$</span>
                                                    <span class="h-liked-comment">avg/night</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- \\ -->
                            <!-- // -->
                            <div class="h-liked-item">
                                <div class="h-liked-item-i">
                                    <div class="h-liked-item-l">
                                        <a href="#"><img alt="" src="img/like-02.jpg"></a>
                                    </div>
                                    <div class="h-liked-item-c">
                                        <div class="h-liked-item-cb">
                                            <div class="h-liked-item-p">
                                                <div class="h-liked-title"><a href="#">Campanile Cracovie</a></div>
                                                <div class="h-liked-rating">
                                                    <nav class="stars">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><img alt="" src="img/star-b.png" /></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><img alt="" src="img/star-b.png" /></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><img alt="" src="img/star-b.png" /></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><img alt="" src="img/star-b.png" /></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><img alt="" src="img/star-a.png" /></a>
                                                            </li>
                                                        </ul>
                                                        <div class="clear"></div>
                                                    </nav>
                                                </div>
                                                <div class="h-liked-foot">
                                                    <span class="h-liked-price">964$</span>
                                                    <span class="h-liked-comment">avg/night</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- \\ -->
                            <!-- // -->
                            <div class="h-liked-item">
                                <div class="h-liked-item-i">
                                    <div class="h-liked-item-l">
                                        <a href="#"><img alt="" src="img/like-03.jpg"></a>
                                    </div>
                                    <div class="h-liked-item-c">
                                        <div class="h-liked-item-cb">
                                            <div class="h-liked-item-p">
                                                <div class="h-liked-title"><a href="#">Ermin's Hotel</a></div>
                                                <div class="h-liked-rating">
                                                    <nav class="stars">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><img alt="" src="img/star-b.png" /></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><img alt="" src="img/star-b.png" /></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><img alt="" src="img/star-b.png" /></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><img alt="" src="img/star-b.png" /></a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><img alt="" src="img/star-a.png" /></a>
                                                            </li>
                                                        </ul>
                                                        <div class="clear"></div>
                                                    </nav>
                                                </div>
                                                <div class="h-liked-foot">
                                                    <span class="h-liked-price">500$</span>
                                                    <span class="h-liked-comment">avg/night</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- \\ -->
                        </div>
                    </div>

                    <div class="h-reasons">
                        <div class="h-liked-lbl">Reasons to Book with us</div>
                        <div class="h-reasons-row">
                            <!-- // -->
                            <div class="reasons-i">
                                <div class="reasons-h">
                                    <div class="reasons-l">
                                        <img alt="" src="img/reasons-a.png">
                                    </div>
                                    <div class="reasons-r">
                                        <div class="reasons-rb">
                                            <div class="reasons-p">
                                                <div class="reasons-i-lbl">Awesome design</div>
                                                <p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequunt.</p>
                                            </div>
                                        </div>
                                        <br class="clear" />
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- \\ -->
                            <!-- // -->
                            <div class="reasons-i">
                                <div class="reasons-h">
                                    <div class="reasons-l">
                                        <img alt="" src="img/reasons-b.png">
                                    </div>
                                    <div class="reasons-r">
                                        <div class="reasons-rb">
                                            <div class="reasons-p">
                                                <div class="reasons-i-lbl">carefylly handcrafted</div>
                                                <p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequunt.</p>
                                            </div>
                                        </div>
                                        <br class="clear" />
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- \\ -->
                            <!-- // -->
                            <div class="reasons-i">
                                <div class="reasons-h">
                                    <div class="reasons-l">
                                        <img alt="" src="img/reasons-c.png">
                                    </div>
                                    <div class="reasons-r">
                                        <div class="reasons-rb">
                                            <div class="reasons-p">
                                                <div class="reasons-i-lbl">sustomer support</div>
                                                <p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequunt.</p>
                                            </div>
                                        </div>
                                        <br class="clear" />
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- \\ -->
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>
    </div>
</div>