<div class="overlay"></div>
<div class="autorize-popup">
  <div class="autorize-tabs">
    <a href="#" class="autorize-tab-a current">Sign in</a>
    <a href="#" class="autorize-tab-b">Register</a>
    <a href="#" class="autorize-close"></a>
    <div class="clear"></div>
  </div>
  <section class="autorize-tab-content">
    <div class="autorize-padding">
      <h6 class="autorize-lbl">Welocome! Login in to Your Accont</h6>
      <input type="text" value="" placeholder="Name">
      <input type="text" value="" placeholder="Password">
      <footer class="autorize-bottom">
        <button class="authorize-btn">Login</button>
        <a href="#" class="authorize-forget-pass">Forgot your password?</a>
        <div class="clear"></div>
      </footer>
    </div>
  </section>
  <section class="autorize-tab-content">
    <div class="autorize-padding">
      <h6 class="autorize-lbl">Register for Your Account</h6>
      <input type="text" value="" placeholder="Name">
      <input type="text" value="" placeholder="Password">
      <footer class="autorize-bottom">
        <button class="authorize-btn">Registration</button>
        <div class="clear"></div>
      </footer>
    </div>
  </section>
</div>