<div class="main-cont">
    <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
</div>

<div class="contacts-page-holder">
    <div class="contacts-page">
        <header class="page-lbl">
            <div class="offer-slider-lbl">GET IN TOUCH WITH US</div>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</p>
        </header>

        <div class="contacts-colls">
            <div class="contacts-colls-l">
                <div class="contact-colls-lbl">OUR OFFICE</div>
                <div class="contacts-colls-txt">
                    <p>Address: 58911 Lepzig Hore, 85000 Vienna, Austria </p>
                    <p>Telephones: +1 777 55-32-21</p>
                    <p>E-mail: contacts@miracle.com</p>
                    <p>Skype: sparrow</p>
                    <div class="side-social">
                        <a class="side-social-twitter" href="#"></a>
                        <a class="side-social-facebook" href="#"></a>
                        <a class="side-social-vimeo" href="#"></a>
                        <a class="side-social-pinterest" href="#"></a>
                        <a class="side-social-instagram" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="contacts-colls-r">
                <div class="contacts-colls-rb">
                    <div class="contact-colls-lbl">Contact Us</div>
                    <div class="booking-form">
                        <form id="contact_form" action="php/contact_form.php">
                            <div class="booking-form-i">
                                <label>First Name:</label>
                                <div class="input"><input type="text" name="FirstName" value="" /></div>
                            </div>
                            <div class="booking-form-i">
                                <label>Last Name:</label>
                                <div class="input"><input type="text" name="lastName" value="" /></div>
                            </div>
                            <div class="booking-form-i">
                                <label>Email Adress:</label>
                                <div class="input"><input type="text" name="Email" value="" /></div>
                            </div>
                            <div class="booking-form-i">
                                <label>Website:</label>
                                <div class="input"><input type="text" name="Website" value="" /></div>
                            </div>
                            <div class="booking-form-i textarea">
                                <label>Message:</label>
                                <div class="textarea-wrapper">
                                    <textarea name="Message"></textarea>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <button class="contacts-send">Send message</button>
                        </form>
                        <script type="text/javascript">
                            $(function() {
                                $('#contact_form').ajaxForm({
                                    beforeSubmit: function() {
                                        return init_validation('#contact_form');
                                    },
                                    success: function() {
                                        alert('Your message has been sent!');
                                        $('#contact_form').resetForm();
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>